<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="#">
        <label>ID</label><br>
        <input name="id" type="hidden" maxlength="255" value="{{ data[0] }}"/><br>
        <label>Name</label><br>
        <input name="name" type="text" maxlength="255" value="{{ data[0][1] }}"/><br>
        <label>Description</label><br>
        <input name="desc" type="text" maxlength="255" value="{{ data[0][2] }}"/><br>
        <label>Rate</label><br>
        <input name="rate" type="number" min=0 max=10 value="{{ data[0][3] }}"/><br>
        <button type="submit" name="submit" value="movie">Submit</button>
    </form>
</body>
</html>